# Dependencies
/node_modules
/functions/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Angular
/.angular
/.angular/cache

# Firebase
.firebase/
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Misc
/.sass-cache
/connect.lock
/libpeerconnection.log
testem.log
/typings

# Firebase service account key files
*-firebase-adminsdk-*.json
functions/.env.production
