rules_version = '2';

service firebase.storage {
  match /b/horizonnet-ed13d.firebasestorage.app/o {
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
} 