<div class="page-container">
      <!-- Additional Contact Options -->
  <section class="contact-options">
    <h2>Direkte Kontaktmöglichkeiten</h2>
    <div class="contact-buttons">
      <button class="contact-button" (click)="callPhone()">
        <mat-icon>phone</mat-icon>
        <span>Anrufen</span>
      </button>

      <button class="contact-button" (click)="openWhatsApp()">
        <img src="assets/icons/whatsapp.svg" alt="WhatsApp" class="whatsapp-icon">
        <span>WhatsApp</span>
      </button>
    </div>
  </section>
  <!-- Contact Section Component -->
  <app-contact-section></app-contact-section>


</div> 